@import url("https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$primary-color: #0b132b;
$secondary-color: #002855;

* {
  .navbar-brand {
    font-size: 2.5rem;
    font-family: "Linden Hill", serif;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: url(../img/night-city.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .nav-cont {
    width: 100%;
    background-color: $primary-color;
    position: fixed;
    z-index: 3;
  }
}

#cards {
  background-color: #daf5fe;

  .material-icons {
    font-size: 6rem;
    color: $secondary-color;
  }
}

.carousel-inner {
  .caption {
    width: 70%;
    position: absolute;
    top: 11rem;

    h5 {
      font-size: 4rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .caption1 {
    left: 6rem;
  }
  .caption2 {
    right: 2rem;
  }
}

.parallax {
  height: 50vh;
  background-image: url("/img/bridge.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#book {
  a {
    color: $secondary-color;
  }

  textarea {
    width: 100%;
    height: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
  }

  .btn {
    background-color: $secondary-color;
    color: white;
    width: 50%;

    &:hover {
      color: white;
      transform: scale(1.1);
    }
  }
}

footer {
  ul {
    list-style: none;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: grey;
      }
    }
  }

  .copyright {
    background-color: $secondary-color;
    padding: 1rem;
  }
}
